@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
	--white: #FFFFFF;
    --black: #2B2B2B;

    --yellow: #FFA700;
    --yellow-light: #fcbe4c;
    --yellow-bold: #d68b00;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

*::selection {
	background: var(--black) ;
	color:var(--white);
}

*::-moz-selection {
	background: var(--black);
	color:var(--white);
}

body {
	background: var(--black);
	color: var(--white);
}

a {
	color: var(--white);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1{
    text-align: center;
    margin: 30px;
}

.container {
	max-width:500px;
	width: 90%;
	margin: 40px auto;
}

/* ---------------------------------------- Rows & Columns ---------------------------------------- */
.app .row {
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.app .col {
	width: 50%;
}

/* ---------------------------------------- Inputs & Buttons ---------------------------------------- */
.app label {
	line-height: 40px;
}

.app input {
	text-align: center;
	border: none;
}

.app .btn {
	width: 100%;
	background: var(--yellow);
	color: var(--white);
	display: inline-block;
	height: 40px;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease;
}

.app .btn:hover {
	background: var(--yellow-light);
}

.app .btn.false{
	background: var(--yellow-bold);
}

/* ---------------------------------------- Número de Caracteres ---------------------------------------- */
.app .number-characters .buttons div {
	width: 100%;
}

.app .number-characters .buttons div:nth-child(1) button{
	border-radius: 4px 0 0 4px;
}

.app .number-characters input {
	height: 40px;
	width: 100%;
	cursor: default;
	background: var(--yellow-bold);
	color: var(--white);
}
.app .number-characters .buttons div:nth-child(3) button{
	border-radius: 0 4px 4px 0;
}

.app .number-characters .buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* ---------------------------------------- Generar Contraseña ---------------------------------------- */
.app .row.generate {
	margin-bottom: 10px;
}

.app .row.generate .col:nth-child(1){
	width: 30%;
}

.app .row.generate .col:nth-child(2) {
	width: 65%;
}

.app .row.generate .btn.btn-generate {
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding: 0;
	line-height: 40px;
	position: relative;
	z-index: 1;
}

.app .row.generate .btn.btn-generate i {
	margin-left: 20px;
	position: relative;
	top:-1px;
	font-size: 14px;
}

.app .row.generate .input-password {
	width: 100%;
	background: none;
	border-radius: 4px;
	border:1px solid rgba(255,255,255,.25);
	color: var(--white);
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	transition: all .3s ease;
}

.app .row.generate .input-password:hover {
	border:1px solid rgba(255,255,255,.5);
}

.app .row.generate input::selection {
	background: #1B1B1B;
}

.app .row.generate input::-moz-selection {
	background: #1B1B1B;
}

/* ---------------------------------------- Alerta ---------------------------------------- */
.app .row.alert {
	justify-content: flex-end;
}

.app .row.alert .col {
	width: 65%;
}
.app .row.alert .copy-alert {
	text-align: center;
	color: rgba(255,255,255,0);
	transition: all .3s ease;
}

.app .row.alert .copy-alert.active {
	color: rgba(255,255,255,1);
}

.app .row.alert .copy-alert p, 
.app .row.alert .copy-alert i {
	font-size: 12px;
}


/* ---------------------------------------- Responsive ---------------------------------------- */
@media screen and (max-width: 500px){
	.app .row {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.app .row .col {
		width: 100%;
		margin-bottom: 20px;
	}

	.app .row.generate {
		border-top:1px solid rgba(255,255,255,.25);
		padding-top:40px;
	}

	.app .row.generate .col:nth-child(1), 
	.app .row.generate .col:nth-child(2) {
		width: 100%;
	}
}